html,
body,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}


/* header
*/

@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
    margin: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.inner-header {
    height: 20vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}


/*header ends*/

input[type=button] {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    /*box-shadow: 5px 5px 5px #eee;*/
    text-shadow: none;
    width: 40%;
    height: 4%;
}

input[type=button]:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px #eee;*/
    text-shadow: none;
}


/*set border to the form*/

form {
    border: 3px solid #eee;
    width: 30%;
    /*background-color: rgb(182, 220, 241);*/
    background-color: aliceblue;
    /*background-color: ghostwhite;*/
}


/*assign full width inputs*/

input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}


/*set a style for the buttons*/

button {
    background: #B9DFFF;
    color: #fff;
    border: 2px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    width: 40%;
    height: 4%;
}


/* set a hover effect for the button*/

button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}


/*set padding to the container*/

.container {
    padding: 16px;
}


/*set the forgot password text*/

span.radius {
    float: right;
    padding-top: 16px;
}

span.startdate {
    float: right;
    padding-top: 16px;
}

span.enddate {
    float: right;
    padding-top: 16px;
}


/*set styles for span and cancel button on small screens*/

@media screen and (max-width: 300px) {
    span.radius {
        display: block;
        float: none;
    }
    span.startdate {
        float: right;
        padding-top: 16px;
    }
    span.enddate {
        float: right;
        padding-top: 16px;
    }
    .cancelbtn {
        width: 100%;
    }
}