<!DOCTYPE html>
<html>
<title>
    SOLAR RADIATION
</title>

<head>
    <!--jquery-->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <!--<script type="text/javascript" src="home.js"></script>-->
    <script type="text/javascript" src="{{url_for('static', filename='home.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <!--<link rel="stylesheet" href="home.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>

</head>



<!---header designing-->


<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <!--Just the logo.. Don't mind this-->

        <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
        <g>
            <path fill="#fff" d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
    C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
    c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z"
            />
        </g>
        </svg>
        <h1>Hexagonal Grid</h1>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->

</div>
<!--Header ends-->



<body onload="loadmap();">

    <center>
        <form>
            <div class="container">
                <label><b>Radius</b></label>
                <input id="radius" type="text" name="radius" placeholder="Enter Radius">
                <script>
                    setInputFilter(document.getElementById("radius"), function(value) {
                        return /^-?\d*[.,]?\d*$/.test(value);
                    });

                    function setInputFilter(textbox, inputFilter) {
                        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
                            textbox.addEventListener(event, function() {
                                if (inputFilter(this.value)) {
                                    this.oldValue = this.value;
                                    this.oldSelectionStart = this.selectionStart;
                                    this.oldSelectionEnd = this.selectionEnd;
                                } else if (this.hasOwnProperty("oldValue")) {
                                    this.value = this.oldValue;
                                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                                } else {
                                    this.value = "";
                                }
                            });
                        });
                    }
                </script>
                <br><br>

                <!--get date input-->
                <label><b>Start Date</b></label>
                <input id="startdate" type='date' min='1981-01-03' max='2021-13-13'></input>
                <script>
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }

                    today = "2021-05-31";
                    document.getElementById("startdate").setAttribute("max", today);
                </script>
                <br><br>
                <label><b>End Date</b></label>
                <input id="enddate" type='date' min='1981-01-03' max='2021-13-13'></input>
                <script>
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }

                    today = "2021-05-31"
                    document.getElementById("enddate").setAttribute("max", today);
                </script>
                <br><br>
                <input type="button" value="Mark Coordinates" id="submit" onClick="valueassign(); this.style.display='none'">
                <!--this will bring some animation-->
                <div id="plzwt" style="display: none;">
                    <p>Please wait...</p>
                </div>
                <div id="downloadcsv" style="display: none;">

                    <button> <a href="{{url_for('download_file')}}" style="text-decoration: none;">DOWNLOAD CSV</a> </button>

                </div>
            </div>
        </form>

        <br><br>
    </center>
    </<main>
    <div id="map-canvas"></div>


</body>


</html>